output/**
*.class
*.iml
.idea/**
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
build/
.settings/
/bin
bin/
pom.xml.versionsBackup
**/.gradle
**/local.properties
**/build
**/target
**/.env
*/.run/**
.run/**
.run
.claude/
