{{!
    SPDX-FileCopyrightText: Copyright ThingsBoard, Inc.
    SPDX-License-Identifier: Apache-2.0
}}
# {{classname}}

`org.thingsboard.client.model.{{classname}}`

{{#description}}{{{description}}}

{{/description}}
## Enum Values

{{#allowableValues}}{{#enumVars}}
* `{{name}}` (value: `{{{value}}}`)
{{/enumVars}}{{/allowableValues}}
